.App {
  text-align: center;
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color: lightgray;
}

.row {
  display:flex;
}

.board_container {
  display:flex;
}

.cell {
  border:3px solid black;
  width:40px;
  height:40px;
  background-color:greenyellow;
  color:black;
  font-size:24px;
  display:flex;
  align-items:center;
  justify-content: center;
  cursor:pointer;
}

.flag {
  width:30px;
  height:30px;
}


